*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.synctex.gz(busy)
*.toc
*.vrb
*.xdy
*.tdo
*.hd
#*.jpg
*.png
*.gz
*.gif
*.xcf
*.gz(busy)
*.db
*.pdf
*.xls
*.docx

#netbeans files
#properties

nbproject/
ci-notes/
clojure-notes/
cms/
# untracked files

codeigniter/nbproject1/
codeigniter/rails/
codeigniter/system/
codeigniter/uploads/
codeigniter/img/
codeigniter/examples/
codeigniter/js/
codeigniter/data/

couchdb-notes/
cpp-notes/
dojoJSS/
drainage/
files/
format/
forms/
dojo-notes/
javascript-notes/
ruby-notes/
stamp-images/
countries/
stamp-images/
stamp-notes/
countries/
text-analysis/
images/
NDIA/
pear-temp/
perl-notes/
python-notes/
strings1/
system-journal-notes/
text-analysis/
tocheck/
user_guide/
todo/
journal-notes/
haskell-notes/
php-notes/
mep-notes/
ZZZ/


